run = "python main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "cloudrun"

[env]
PYTHONPATH = "${PYTHONPATH}:/home/runner/${REPL_SLUG}/src"
